

<h1>SALE CHARTS</h1>
<hr />

<h2>Budget/revenue per year</h2>
<div class="well">
  <div class="panel panel-default">
    <div class="panel-body text-center">
      <center>
        <div id="placeholder1" class="demo-placeholder" style="width:900px; height:500px;"></div>
      </center>
    </div>
  </div>
</div>

<h2>Per genre</h2>
<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel panel-heading">
        <h3 class="panel-title">Sales per genre</h3>
      </div>
      <div class="panel-body text-center">
        <center>
          <div id="placeholder2-1" class="demo-placeholder" style="width:500px; height:500px;"></div>
        </center>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel panel-heading">
        <h3 class="panel-title">Budget per genre</h3>
      </div>
      <div class="panel-body text-center">
        <center>
          <div id="placeholder2-2" class="demo-placeholder" style="width:500px; height:500px;"></div>
        </center>
      </div>
    </div>
  </div>
</div>

<h2>Per country</h2>
<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel panel-heading">
        <h3 class="panel-title">Sales per country</h3>
      </div>
      <div class="panel-body text-center">
        <center>
          <div id="placeholder3-1" class="demo-placeholder" style="width:500px; height:500px;"></div>
        </center>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel panel-heading">
        <h3 class="panel-title">Budget per country</h3>
      </div>
      <div class="panel-body text-center">
        <center>
          <div id="placeholder3-2" class="demo-placeholder" style="width:500px; height:500px;"></div>
        </center>
      </div>
    </div>
  </div>
</div>




@section scripts {
  <script>

    $(function () {

      var pieOptions = {
        series: {
          pie: {
            show: true,
            combine: {
              color: '#999',
              threshold: 0.05
            }
          }
        },
        legend: {
          show: false
        }
      };

      var chartOptions = {
        yaxis: { min: 0 },
        xaxis: { tickDecimals: 0 }
      };


      $.getJSON('/Sale/BudgetByYear', function (data) {
        $.plot('#placeholder1', data, chartOptions);
      });

      $.getJSON('/Sale/RevenueByGenre', function (data) {
        $.plot('#placeholder2-1', data, pieOptions);
      });

      $.getJSON('/Sale/BudgetByGenre', function (data) {
        $.plot('#placeholder2-2', data, pieOptions);
      });
      
      $.getJSON('/Sale/RevenueByCountry', function (data) {
        var opt = pieOptions;
        opt.series.pie.combine.threshold = 0.01;
        $.plot('#placeholder3-1', data, opt);
      });

      $.getJSON('/Sale/BudgetByCountry', function (data) {
        var opt = pieOptions;
        opt.series.pie.combine.threshold = 0.01;
        $.plot('#placeholder3-2', data, opt);
      });



    });


  </script>
}